[1kite]
row=0
col=1

[Dropbox]
row=4
col=3

[bib]
row=1
col=3

[tmp]
row=0
col=3

[data]
row=2
col=3

[orthograph]
row=5
col=2

[Frutiger_Fonts]
row=0
col=0

[Pictures]
row=2
col=2

[hamstr]
row=0
col=4

[Documents]
row=0
col=2

[zfmknet]
row=2
col=0

[scripts]
row=5
col=0

[papers]
row=1
col=0

[local]
row=3
col=4

[texmf]
row=4
col=0

[irclogs]
row=2
col=4

[Incoming]
row=1
col=4

[projects]
row=1
col=1

[src]
row=3
col=0

[cluster]
row=2
col=1

[Trash]
row=5
col=4

[File System]
row=0
col=5

[Home]
row=1
col=5

